/* Plus Jakarta Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
    /* Accent Colors */
    --color-lime: hsl(61, 70%, 52%);
    --color-red: hsl(4, 69%, 50%);

    /* Neutral Slate Palette */
    --color-white: hsl(0, 0%, 100%);
    --color-slate-100: hsl(202, 86%, 94%);
    --color-slate-300: hsl(203, 41%, 72%);
    --color-slate-500: hsl(200, 26%, 54%);
    --color-slate-700: hsl(200, 24%, 40%);
    --color-slate-900: hsl(202, 55%, 16%);

    /* Typography */
    --font-sans: "Plus Jakarta Sans", sans-serif;
}

/* Root container styles
Keep layout centered on all screen sizes */
#root {
    display: flex;
    background-color: var(--color-white);
    min-height: 100vh;
}
