/* Plus Jakarta Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
    /* Accent Colors */
    --color-lime: hsl(61, 70%, 52%);
    --color-red: hsl(4, 69%, 50%);

    /* Neutral Slate Palette */
    --color-white: hsl(0, 0%, 100%);
    --color-slate-100: hsl(202, 86%, 94%);
    --color-slate-300: hsl(203, 41%, 72%);
    --color-slate-500: hsl(200, 26%, 54%);
    --color-slate-700: hsl(200, 24%, 40%);
    --color-slate-900: hsl(202, 55%, 16%);
    --color-slate-950: hsl(202, 55%, 13%);

    /* Typography */
    --font-sans: "Plus Jakarta Sans", sans-serif;

    /* clamp token for app container max-width */
    --spacing-app: clamp(64rem, 80vw, 72rem);
}

/* Root container styles
Keep layout normal flow on all screen sizes */
#root {
    display: flex;
    background-color: var(--color-slate-100);
    min-height: 100vh;
}

/* Remove number input spinners */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinners {
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield;
}

/* error message animations */
.error-enter {
    @apply max-h-10 translate-y-0 opacity-100;
}
.error-exit {
    @apply max-h-0 -translate-y-1 opacity-0;
}

/* Centered layout on large screens */
@media screen and (width >= 64rem) {
    #root {
        align-items: center;
        justify-content: center;
    }
}
